name: Deploy to Aliyun Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            # 1. Go to project directory
            cd ${{ secrets.PROJECT_PATH }}
            
            # 2. Pull latest code
            git pull origin main
            
            # 3. Install dependencies (in case package.json changed)
            npm install
            
            # 4. Build the project
            npm run build
            
            # 5. Restart PM2 processes
            pm2 stop all
            pm2 start all
